h1 {
    border: solid 2px rgb(238, 202, 206);
    background-color: rgba(247, 242, 242, 0.274);
    text-align: center;
    padding: 15px;
}
body {
    background-color: antiquewhite;
    background-image: url("imgs/2bsola.jpg");
}
body {
    background-image: url("/imgs/2bsola.jpg");
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    background-size: 2000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*selectore universal*/
*{ 
    color: rgb(0, 0, 0);
}
/*selector de etiqueta*/
h1,h2,h3 {
    border: solid 2px rgb(238, 202, 206);
    background-color: rgba(247, 242, 242, 0.274);
    text-align: center;
    padding: 15px;
}
/*selector descendente*/
p span {
    border: solid 3px rgb(238, 202, 206);
    background-color: rgba(247, 242, 242, 0.274);
}
#etiquetasDeBloque ul li {
    text-decoration: underline;
    color: cyan;
}
/* selector de ID */
#PieDePagina {
    box-shadow: 10px 5px 8px rgb(238, 84, 225);
    padding: 5px 10px ;
    margin: 10px;
    border-radius: 6px;
    background-color: red;
}
#PieDePagina:hover {
    background-color: aqua;
}
/*selector de clase*/
.destacado {
    background-color:crimson ;
}
.destacado:hover {
    background-color: gray;
}
/* selector de hijos (solo afecta al primer elemento decendiente del primer elemento)*/
div > p {
    font-style: italic;
}
/*slector adyacente*/
li + li {
    background-color: rgba(235, 216, 44, 0.274);
}

/* selector de atributo */
img[width] {
    border-radius: 40px;
    border:  solid 1px black;
}
a[target="_blank"] {
    text-transform: uppercase;
    color: aliceblue;
}
* [border~="doble"]{
    color: rosybrown !important;
}